@import '../../../../theme/styles/colors';

.feedback-container-right-sheet {
  background-color: $white;
  height: 100%;
  overflow: auto;
}

.comment-block {
  background-color: $black25;
  border-radius: 8px;
  width: fit-content;
}

.comment {
  background-color: $white;
  width: fit-content;
}

.button-active {
  color: $white;
  background-color: $black90;
  border-radius: 18px;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  width: 140px;
}

.button-inactive {
  color: $black90;
  background-color: $black20;
  border-radius: 18px;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  width: 140px;
}

.comments {
  display: flex;
  flex-wrap: wrap;
}

.right-sheet-btn {
  border: none;
}

.margin-between {
  margin-right: 16px;
}

.btn-round {
  height: 48px;
  width: 48px;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  background-color: $black20;
  border: none;
  height: 1px;
}

.merchant-reply {
  float: right;
}

.item-name {
  width: 180px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.item-price {
  display: flex;
  justify-content: flex-end;
}

.reply-comment {
  background-color: $yellow10;
  width: auto;
}

.promo-btn {
  background-color: $black90;
  border-radius: 12px;
  height: 32px;
  width: 92px;
  color: $white;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $black50;
  border-radius: 8px;
}

.send-promo-btn {
  background-color: $green60;
  border-radius: 12px;
  height: 32px;
  width: 92px;
  color: $white;
}

.promo-container {
  background-color: $black80;
  border-radius: 21px;
  height: 24px;
  color: $white;
  width: 80px;
}

.clear {
  cursor: pointer;
  margin-left: 4px;
  height: 14px;
}

.reply-message {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.reply-text {
  border-radius: 21px;
  height: fit-content;
  background-color: $black25;
  border: none;
  outline: none;
  width: 100%;
}

.reply-text-area {
  min-height: 32px;
  height: 32px;
  font-family: 'Noto Sans';
  max-height: 60px;
  background-color: $black25;
  border: none;
  padding: 0 !important;
  outline: none;
  width: 100%;
  resize: none;
  overflow-y: auto;
  font-size: 10px;
  border-radius: 7px;
}

.reply-text-area-container {
  width: 100%;
  padding-right: 13px;
  height: 32px;
  max-height: 60px;
}

.reply-text-shorter {
  width: 95px;
  flex-grow: 100;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-content {
  display: flex;
}

.bold-text {
  font-weight: 700;
}

.order-desc {
  width: 280px;
}

.user {
  display: flex;
  justify-content: space-between;
}

.send {
  cursor: pointer;
}

.awarded-promo-container {
  background-color: $blue40;
  width: fit-content;
  color: $white;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.send-div {
  text-align: right;
  flex-grow: 1;
  height: 32px;
}

.reply-text-div {
  flex-grow: 8
}

.promo-btn-div {
  flex-grow: 1;
  height: fit-content;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 193px);
}

.disabled {
  opacity: 50%;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.feedback-mat-btn {
  margin-right: 8px;
  height: 18px;
}

.order-details-mat-btn {
  margin-right: 8px;
}

//mobile
@media screen and (max-width: 375px) {

  .button-active {
    padding-left: 8px;
    padding-right: 8px;
    width: auto;
  }

  .button-inactive {
    padding-left: 8px;
    padding-right: 8px;
    width: auto;
  }

  .margin-between {
    margin-right: 8px;
  }

  .btn-round {
    height: 35px;
    width: 35px;
    margin-left: 8px;
    margin-top: calc(50% - 17px)
  }

  .clear-icon {
    margin-top: -22px;
  }

  .feedback-mat-btn {
    margin-right: 0;
  }

  .order-details-mat-btn {
    margin-right: 0;
  }
}

// Tablet
@media screen and (min-width: 376px) and (max-width: 768px) {

  .button-active {
    width: auto;
  }

  .button-inactive {
    width: auto;
  }

  .margin-between {
    margin-right: 8px;
  }

  .btn-round {
    margin-left: 8px;
  }

  .clear-icon {
    margin-top: -6px;
  }
}

@media screen and (min-width: 769px) {

  .clear-icon {
    margin-top: -6px;
  }

}